@import "tailwindcss";

@theme {
  /* Aquí es donde ocurre la magia: 
     Le decimos a Tailwind que la utilidad 'font-nunito' 
     debe usar la variable inyectada por Next.js */
  --font-nunito: var(--font-nunito);
  --font-sans: var(--font-dm-sans);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Solo estilos base de colores, nada de fuentes forzadas */
body {
  background: var(--background);
  color: var(--foreground);
}