@import "tailwindcss";

@theme {
  --font-nunito: var(--font-nunito);
  --font-sans: var(--font-dm-sans);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Solo estilos base de colores, nada de fuentes forzadas */
body {
  background: var(--background);
  color: var(--foreground);
}